$color-text: #FFFFFF;
$width-site: 1200px;
$gap: 32px;
$font-size: 16px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a,
input,
button,
select {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: $font-size;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.hero-page {
    position: relative;
    z-index: -2;
    background-color: rgba(225, 255, 143, 1);;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgba(32, 32, 39, 1);

    &__content {
        padding-top: 196px;
        padding-bottom: 246px;
    }

    &__title {
        font-size: $font-size * 4;
        line-height: 100%;
        font-weight: 700;
        padding-bottom: 24px;
    }

    &__subtitle {
        font-size: $font-size * 1.5;
        line-height: 32px;
        font-weight: 400;
        padding-bottom: 64px;
    }

    &__button {
        background: rgba(32, 32, 39, 1);
        border-radius: 60px;
        padding: 16px 65px;
        text-align: center;
        font-size: $font-size * 1.5;
        line-height: 29px;
        font-weight: 600;
        color: #fff;
    }

    &__button:hover {
        background-color: #FFFFFF;
        border: 1px solid #000;
        color: #000;
    }
}

.hero-page::after {
    content: " ";
    position: absolute;
    width: 1074px;
    height: 1130px;
    background-image: url(./img/starhed.svg);
    z-index: -1;
    top: -333px;
    right: -488px;    
    background-repeat: no-repeat;
}

mark {
    font-weight: 700;
    background: none;
}

.big-green {
    position: absolute;
    z-index: 1;
    top: 94px;
    left: 63px;
    opacity: 1;
}

.small {
    position: absolute;
    z-index: 1;
    top: 69px;
    left: 156px;
    opacity: 1;
}

.big {
    position: absolute;
    z-index: 1;
    bottom: 149px;
    right: 344px;
    opacity: 1;
}

.small-green {
    position: absolute;
    z-index: 1;
    bottom: 225px;
    right: 455px;
    opacity: 1;
}

.container-game {
    background-color: rgba(32, 32, 39, 1);
    color: #fff;
    padding-top: 94px;
    padding-bottom: 50px;

    &__title {
        font-weight: 700;
        font-size: $font-size * 4;
        line-height: 64px;
        margin-bottom: 24px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: $font-size * 1.5;
        line-height: 32px;
    }
}

.content-box {
    position: relative;
    margin-top: 72px;
    display: grid;
    gap: $gap;
    grid-template-columns: repeat(12, 1fr);
}

.for {
    grid-column: span 4;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size * 2 + 2;
    line-height: 41px;
    display: flex;
    gap: $gap;
    justify-content: center;
    color: $color-text;
    flex-direction: column;
    z-index: 4;

    &__item {
        background-color: #F7F7F7;
        border-radius: 30px;
        padding-bottom: 36px;
        color: rgba(32, 32, 39, 1);
    }

    &__item-img {
        max-width: 100%;
        margin-bottom: 40px;
        border-radius: 30px;
    }

    &__item-details {
        background-color: rgba(247, 247, 247, 1);
        align-content: flex-start;
        border-radius: 20px;
        font-size: $font-size;
        font-weight: 500;
        line-height: 20px;
        margin-left: 32px;
        margin-bottom: 26px;
        width: fit-content;
    }

    &__item-title {
        font-size: $font-size * 2;
        font-weight: 700;
        line-height: 100%;
        margin-left: 32px;
        margin-right: 42px;
    }
}

.starbig {
    position: absolute;
    z-index: 1;
    top: -275px;
    right: -260px;
}

.star1 {
    position: absolute;
    z-index: 1;
    top: 460px;
    left: -76px;
    transform: rotate(5.45deg);
}

.star2 {
    position: absolute;
    z-index: 1;
    transform: rotate(5.45deg);
    top: 410px;
    left: -96px;
}

.star3 {
    position: absolute;
    z-index: 1;
    top: -70px;
    right: -70px;
    transform: rotate(5.45deg);
}

.star4 {
    position: absolute;
    z-index: 1;
    transform: rotate(7.08deg);
    top: -105px;
    right: 10px;
}

.star5 {
    position: absolute;
    z-index: 1;
    top: 500px;
    right: -70px;
}

.star6 {
    position: absolute;
    z-index: 1;
    top: 555px;
    right: 40px;
}

.container-minigames {
    z-index: 1;
    background-color: rgba(32, 32, 39, 1);
    color: #fff;
    padding-top: 46px;
    padding-bottom: 144px;

    &__title {
        margin-bottom: 40px;
    }
}

.minigames {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    color: rgba(32, 32, 39, 1);
    margin-top: 32px;

    &__title {
        font-size: $font-size * 3;
        font-weight: 700;
    }

    &__details {
        font-size: $font-size * 1.5;
        font-weight: 400;
        line-height: 32px;
        margin-top: 24px;
        margin-bottom: 36px;
    }

    &__button {
        background: rgba(32, 32, 39, 1);
        border-radius: 60px;
        padding: 16px 76px;
        text-align: center;
        font-size: $font-size * 1.5;
        line-height: 29px;
        font-weight: 600;
        color: #fff;
    }

    &__button:hover {
        background-color: #FFFFFF;
        border: 1px solid #000;
        color: #000;
    }

    &__img {
        height: 500px;
        border-radius: 30px;
    }
}

.minigames-content {
    padding: 48px;
    flex-direction: column
}

.minigames-reverse {
    flex-direction: row-reverse;
}

@import 'mobile';